html,
body,
#root {
  position: relative;
  overflow: hidden;
  width: 500px;
  height: 350px;
  font-family: "宋体", "新宋体", "MS";
}

/*定义滚动条高宽及背景
 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 12px;
}

/*定义滚动条轨道
  内阴影+圆角*/
::-webkit-scrollbar-track {
  background-color: white;
  width: 12px;
}

/*定义滑块
  内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background-color: #8b8b8b;
  border: 3px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-button {
  background: white;
}

/* Buttons */
::-webkit-scrollbar-button:single-button {
  background-color: white;

  display: block;
  background-size: 8px;
  background-repeat: no-repeat;
}

/* Up */
::-webkit-scrollbar-button:single-button:vertical:decrement {
  height: 10px;
  background-position: center 4px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(139, 139, 139)'><polygon points='50,00 0,50 100,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(112, 112, 112)'><polygon points='50,00 0,50 100,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:decrement:active {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='50,00 0,50 100,50'/></svg>");
}

/* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
  height: 10px;
  background-position: center 2px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(139, 139, 139)'><polygon points='0,0 100,0 50,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:increment:hover {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(112, 112, 112)'><polygon points='0,0 100,0 50,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:increment:active {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='0,0 100,0 50,50'/></svg>");
}

.m-after-panel::after {
  content: "";
  position: absolute;
  border: 2px solid #666;
  top: 6px;
  height: calc(100% - 12px);
  left: 6px;
  width: calc(100% - 12px);
  z-index: 5;
}

.lattice {
  position: relative;

  &::after,
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: #666;
    z-index: 10;
  }

  &::after {
    width: 1px;
    left: calc(50% - 1px);
  }
  &::before {
    height: 1px;
    top: calc(50% - 1px);
  }
}

.no_top {
  &::after {
    height: 50%;
    top: 50%;
  }
}

.no_left {
  &::before {
    width: calc(50% + 1px);
    left: calc(50% - 1px);
  }
}

.no_right {
  &::before {
    width: 50%;
    top: calc(50% - 1px);
  }
}

.no_bottom {
  &::after {
    height: 50%;
  }
}

.lattice_box() {
  position: absolute;
  display: inline-block;
  height: 100%;
  width: 100%;
  z-index: 20;
  top: calc(50% - 0.5px);
  left: calc(50% - 0.5px);
}

// 斜线 \ /
.line_top_left,
.line_top_right,
.line_bottom_left,
.line_bottom_right {
  & > span {
    .lattice_box();
    &::after {
      position: absolute;
      content: "";
      width: 1px;
      height: 35.36px;
      background: #666;
      z-index: 21;
      top: -5.2px;
      left: 12px;
    }
  }
}

@line_set: {
  line_top_left: -45deg;
  line_top_right: 45deg;
  line_bottom_left: 45deg;
  line_bottom_right: -45deg;
};

each(@line_set, {
  .@{key} {
    & > span {
      &::after {
        transform: rotate(@value);
      }
    }
  }
});

// 位置
@loc_set: {
  top: right;
  top: left;
  bottom: right;
  bottom: left;
};

.loc(@p1, @p2) {
  content: "";
  position: absolute;
  @{p1}: 2px;
  @{p2}: 2px;
  height: 5px;
  width: 5px;
  border-@{p1}: 1px solid #666;
  border-@{p2}: 1px solid #666;
}

.getFakeTop(@key, @value) when(@key = top) {
  .loc_@{key}_@{value} {
    & > span {
      .lattice_box();
      &::before {
        .loc(@key, @value);
      }
    }
  }
}
.getFakeBottom(@key, @value) when(@key = bottom) {
  .loc_@{key}_@{value} {
    & > span {
      .lattice_box();
      &::after {
        .loc(@key, @value);
      }
    }
  }
}

each(@loc_set, {
  .getFakeTop(@key, @value);
  .getFakeBottom(@key, @value);
});
